﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Post Graduate Manager</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body class="text-white" style="background: #555557">

    <nav class="nav align-content-center border-secondary border-bottom mb-3 bg-dark" style="height: 70px;">
        <a class="nav-link" asp-action="Index">Home</a>
        <a class="nav-link" asp-action="SupervisorOverview">Supervisors</a>
        <a class="nav-link" asp-action="SupervisorRegistration">Register supervisor</a>
    </nav>

    <main class="text-center" style="margin-bottom: 60px;">
        @RenderBody()
    </main>
    <footer class="footer w-100 text-center bg-dark border-secondary border-top">
        Copyright &copy; 2019 - Odd Martin Hansen
    </footer>
</body>
</html>