﻿@{
    Layout = "_Layout";
    ViewData["title"] = "Home page";
}


    <h1 class="display-4">Welcome</h1>
    <p>The time is currently @ViewBag.CurrentTime</p>
    <a asp-action="SupervisorOverview" class="btn btn-dark">
        See info about Supervisors
    </a>


