﻿@model ExperisNoroffTask24.Models.Supervisor;

@{
    Layout = "_Layout";
    ViewData["title"] = "Supervisor Registration";
}

<h1>Register new supervisor</h1>

<div asp-validation-summary="All"></div>
@if (Model != null) {
    <div class="all-inputs-validated">
        Supervisor of name @Model.FullName was added to the system.
        Well done!
        
        <div class="w-100 mt-4 ">
            <a asp-action="SupervisorInfo" class="btn btn-dark" asp-route-id="@Model.Id">
                Supervisor Profile
            </a>
            <a asp-action="SupervisorOverview" class="btn btn-dark">
                See all Supervisors
            </a>
        </div>
    </div>
}


<form class="w-100 m-auto text-left p-3" style="max-width: 500px" asp-action="SupervisorRegistration" method="post">

    <div class="form-group">
        <label asp-for="Id">Id:</label>
        <input type="number" asp-for="Id" class="form-control" id="Id" placeholder="Id">
    </div>

    <div class="form-group">
        <label asp-for="Firstname">Firstname: </label>
        <input type="text" asp-for="Firstname" class="form-control" id="Firstname" placeholder="Firstname">
    </div>

    <div class="form-group">
        <label asp-for="Lastname">Lastname: </label>
        <input type="text" asp-for="Lastname" class="form-control" id="Lastname" placeholder="Lastname">
    </div>

    <div class="form-group">
        <label asp-for="IsAvailable">Availability:</label>
        <select asp-for="IsAvailable" class="form-control">
            <option value="null" default>-- Select an option --</option>
            <option value="true">Available</option>
            <option value="false">Not available</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary w-100 mt-4">
        Register Supervisor
    </button>
</form>
