﻿@model List<Supervisor>;
@{
    Layout = "_Layout";
    ViewData["title"] = "Supervisor Overview";
}

<h1 class="mb-4">Supervisor Overview</h1>

<div class="w-100">
    <a class="btn btn-primary" style="min-width:300px; margin: 20px 10px" asp-action="SupervisorsThatStartsWithS">Supervisors with names starting with s</a>
    <a class="btn btn-primary" style="min-width:300px; margin: 20px 10px" asp-action="SupervisorOverview">Show all supervisors</a>
</div>

<div class="pl-5 pr-5 ">
    <table class="table table-dark table-responsive-s" style="margin-bottom: 100px">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Is available</th>
                <th score="col">Actions</th>
            </tr>
        </thead>
        <tbody>

           @foreach (Supervisor supervisor in Model) {
                
                <tr>
                    <th scope="row">@supervisor?.Id</th>
                    <td>@supervisor?.Firstname</td>
                    <td>@supervisor?.Lastname</td>
                    <td>@supervisor?.IsAvailable.ToString()</td>
                    <td>
                        <a class="btn btn-primary"
                            asp-action="SupervisorInfo"
                            asp-route-id="@supervisor?.Id">
                            Profile
                        </a>
                         
                        <a class="btn btn-danger"
                            asp-action="DeleteSupervisor"
                            asp-route-id="@supervisor?.Id">
                            Delete
                        </a>
                    </td>
                </tr>
                 
             }
        </tbody>
    </table>
</div>
<!--/article-->

