﻿@model ExperisNoroffTask24.Models.Supervisor;
@{
    Layout = "_Layout";
    ViewData["title"] = "Supervisor Info";
}


    <!--article class="text-center text-white bg-dark min-vh-100"-->
        <h1 class="display-4">@Model.FullName</h1>

        <p>@Model.FullName has the ID: @Model.Id</p>

        @if((bool) Model.IsAvailable) {
            <p>@Model.Firstname is available now.</p>
        } else {
            <p>@Model.Firstname is buisy now.</p>
        }

        <a class="btn btn-dark" asp-action="SupervisorOverview">
            Back to Supervisor overview
        </a>
    <!--/article-->

