﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

nav a {
    color: white;

}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


/* Form validation
----------------------------------------------------*/

/* ERRORS */
.field-validation-error {

    border: 1px solid #F00;
    color: #F00;
    background: #ffeeee;
}

.input-validation-error {
    border: 1px solid #F00;
    color: #F00;
    background: #ffeeee;
}

.validation-summary-errors {
    border: 1px solid #F00;
    color: #F00;
    background: #ffeeee;
}

.validation-summary-errors, .all-inputs-validated {
    margin: 0 auto;
    max-width: 468px;
    text-align: left;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 17px 5px;
}

.validation-summary-errors ul {
    margin: 0;
}

/* Valid! */
.field-validation-valid {
    border: 2px solid #090;
    color: #090;
    background: #eeFFee;
}

.validation-summary-valid {
    display: none;
}

.all-inputs-validated {
    border: 2px solid #090;
    color: #090;
    background: #eeFFee;
    padding: 17px;
}
